/*-- -------------------------- -->
<---     Content Template       -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
    .sidebyside {
      width: 100%;
      max-width: 30.55em;
      margin: auto;
      padding-top: 25vw;
      padding-left: 0.5em;
      padding-right: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .sidebyside .left {
      order: 2;
      text-align: center;
      max-width: 30.55em;
    }
    .sidebyside .left img {
      display: none;
    }
    .sidebyside .left .title {
      font-weight: 900;
      font-size: min(9vw, 2.4em);
      line-height: 1.20833333;
      color: #1A1A1A;
      position: relative;
      margin-bottom: 1.91666667em;
      text-align: center;
    }
    .sidebyside .left .title:before {
      content: '';
      position: absolute;
      display: block;
      height: 0.0625em;
      width: 1.515625em;
      background: var(--primary);
      opacity: 1;
      bottom: -0.390625em;
      left: 50%;
      transform: translateX(-50%);
    }
    .sidebyside .left ul li {
      color: #292929;
      opacity: .8;
    }
    .sidebyside .left p {
      margin-bottom: 1.38888889em;
      text-align: center;
    }
    .sidebyside .left p:last-of-type {
      margin-bottom: 3.44444444em;
    }
    .sidebyside .right {
      display: block;
      width: 30.55em;
      height: 43.05em;
      position: relative;
      font-size: min(1.6vw, .6em);
      margin: auto;
      order: 1;
      margin-bottom: 15em;
    }
    .sidebyside .right:before {
      content: '';
      position: absolute;
      display: block;
      width: 50em;
      background: var(--primary);
      opacity: 1;
      top: -5.35em;
      bottom: -5.95em;
      left: 17.6em;
    }
    .sidebyside .right:after {
      content: '';
      position: absolute;
      display: block;
      height: 31.4em;
      width: 39.8em;
      background: url("../images/small-squares.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
      top: -21.8em;
      left: 5.75em;
      z-index: -1;
    }
    .sidebyside .right img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .title {
      font-weight: 700;
      font-size: min(9vw, 2.4em);
      line-height: 1.20833333;
      color: #1A1A1A;
      position: relative;
      margin-bottom: 1.91666667em;
      text-align: center;
    }
    .title:before {
      content: '';
      position: absolute;
      display: block;
      height: 0.0625em;
      width: 1.515625em;
      background: #EEBE76;
      opacity: 1;
      bottom: -0.390625em;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.5em;
    }
    body.dark-mode .sidebyside li {
      color: #fff;
      opacity: .9;
    }
  }
  /* Small Desktop */
  @media only screen and (min-width: 64em) {
    .sidebyside {
      max-width: 66.1em;
      flex-direction: row;
    }
    .sidebyside .left {
      order: 1;
      text-align: left;
      padding-right: 3.75em;
    }
    .sidebyside .left .title {
      text-align: left;
    }
    .sidebyside .left .title:before {
      font-size: inherit;
      transform: none;
      left: 0;
    }
    .sidebyside .left p {
      text-align: left;
    }
    .sidebyside .right {
      order: 2;
      transform: translateY(6.2em);
      font-size: min(1.6vw, .6em);
    }
    .title:before {
      font-size: inherit;
    }
  }
  /* Large Desktop */
  @media only screen and (min-width: 1200px) {
    .sidebyside {
      justify-content: space-between;
      align-items: flex-start;
    }
    .sidebyside .left {
      padding: 0;
    }
    .sidebyside .right {
      font-size: min(1.3vw, 1em);
      margin: 0;
    }
  }
  @media only screen and (min-width: 1500px) {
    .sidebyside {
      padding: 0;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode .sidebyside .title {
      color: #fff;
    }
    body.dark-mode .sidebyside .right:before {
      background: var(--accessible);
    }
  }
  /*-- -------------------------- -->
  <---            About           -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #about {
      padding-bottom: 3.75em;
    }
  }
  /* Small Desktop */
  @media only screen and (min-width: 1300px) {
    #about {
      padding-top: 9.4em;
    }
    #about .left img {
      display: block;
      width: 30.55em;
      height: 19em;
      margin-bottom: 2.25em;
    }
  }
  /*-- -------------------------- -->
  <---      Extra Services        -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #extra-services {
      padding: 0 0.5em;
      width: 100%;
      max-width: 66.1em;
    }
    #extra-services .card {
      width: 100%;
      max-width: 30.55em;
      height: auto;
      padding: 1.5em;
      box-shadow: 0px 30px 60px 20px rgba(0, 0, 0, 0.05);
      margin: auto;
      margin-bottom: 2.5em;
      border-radius: 0.25em;
      background: #fff;
    }
    #extra-services .card:last-of-type {
      margin-bottom: 0;
    }
    #extra-services .card picture {
      position: relative;
      display: block;
      width: 100%;
      height: 12.5em;
      margin-bottom: 1.7em;
    }
    #extra-services .card picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    #extra-services .card h3 {
      font-size: 1.4em;
      line-height: 1.21428571em;
      color: #1A1A1A;
      margin-bottom: 0.35714286em;
    }
    #extra-services .card p {
      line-height: 1.33333333;
      margin-bottom: 2.66666667em;
    }
    #extra-services .card a {
      font-size: 1em;
      line-height: 1.2em;
      color: #1a1a1a;
      font-weight: 700;
      text-decoration: none;
      position: relative;
      display: inline-block;
      width: 5.35em;
    }
    #extra-services .card a:hover:before {
      width: 100%;
    }
    #extra-services .card a:before {
      content: '';
      position: absolute;
      display: block;
      height: 0.1em;
      width: 0%;
      background: var(--primary);
      opacity: 1;
      bottom: -0.25em;
      left: 0;
      transition: width .3s;
    }
  }
  /* Tablet */
  @media only screen and (min-width: 48em) {
    #extra-services {
      font-size: min(1.4vw, 1em);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: auto;
      padding-top: 3.75em;
    }
    #extra-services .title {
      width: 100%;
    }
    #extra-services .title span {
      display: block;
    }
    #extra-services .card {
      height: 35.05em;
      margin-bottom: 4.2em;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-bottom: 2.4em;
    }
    #extra-services .card:nth-of-type(2),
    #extra-services .card:nth-of-type(4) {
      transform: translateY(5em);
    }
    #extra-services .card:nth-of-type(3) {
      margin-bottom: 0;
    }
    #extra-services .card a {
      margin-top: auto;
    }
  }
  /* Large Desktop */
  @media only screen and (min-width: 1300px) {
    #extra-services {
      padding-bottom: 19.4em;
      padding-top: 8em;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #extra-services .card {
      background: var(--medium);
    }
    body.dark-mode #extra-services .card h3 {
      color: #fff;
    }
    body.dark-mode #extra-services .card a {
      color: #fff;
    }
  }
  /*-- -------------------------- -->
  <---        Construction        -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #construction .right:before {
      z-index: -100;
      left: auto;
      right: 17.6em;
    }
    #construction .right:after {
      top: -11.3em;
      left: auto;
      right: -5em;
      width: 23em;
      height: 25.8em;
      background: url("/images/small-squares.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    #construction .left p:last-of-type {
      margin-bottom: 1.11111111em;
    }
    #construction .left ul {
      margin-bottom: 2.5em;
    }
    #construction .left ul li {
      list-style: none;
      position: relative;
      text-align: left;
    }
    #construction .left ul li:before {
      content: '';
      position: absolute;
      display: block;
      height: 0.83333333em;
      width: 0.83333333em;
      background: url("/images/check.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
      top: 0.27777778em;
      left: -1.38888889em;
    }
  }
  @media only screen and (min-width: 800px) {
    #construction .left ul {
      columns: 2;
    }
  }
  /* Small Desktop */
  @media only screen and (min-width: 64em) {
    #construction {
      max-width: 69.55em;
      align-items: flex-start;
    }
    #construction .left {
      order: 2;
      padding: 0;
      padding-left: 2.5em;
    }
    #construction .right {
      order: 1;
      margin-top: 0;
      transform: none;
    }
  }
  /* Large Desktop */
  @media only screen and (min-width: 1200px) {
    #construction .left {
      padding-left: 0;
    }
  }
  @media only screen and (min-width: 1300px) {
    #construction {
      padding-top: 0;
    }
  }
  /*-- -------------------------- -->
  <---          Structural         -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #structural .right:after {
      top: -11.35em;
      left: -3.65em;
      right: auto;
      width: 23em;
      height: 25.8em;
      background: url("/images/small-squares.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    #structural .left p:last-of-type {
      margin-bottom: 1.11111111em;
    }
    #structural .left ul {
      margin-bottom: 2.5em;
    }
    #structural .left ul li {
      list-style: none;
      position: relative;
      text-align: left;
    }
    #structural .left ul li:before {
      content: '';
      position: absolute;
      display: block;
      height: 0.83333333em;
      width: 0.83333333em;
      background: url("/images/check.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
      top: 0.27777778em;
      left: -1.38888889em;
    }
  }
  /* Large Desktop */
  @media only screen and (min-width: 1500px) {
    #structural {
      padding-top: 20em;
      position: relative;
      z-index: 10;
    }
    #structural .left {
      padding-top: 3.75em;
    }
    #structural .right {
      transform: none;
    }
  }
  /*-- -------------------------- -->
  <---            Why             -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #why {
      margin-top: 3.75em;
      padding-bottom: 3.75em;
      box-shadow: none;
      border: none;
      z-index: 0;
    }
    #why .title {
      margin-bottom: 2.5em;
    }
  }
  /* Tablet */
  @media only screen and (min-width: 48em) {
    #why {
      flex-wrap: wrap;
      padding-bottom: 6.7em;
    }
    #why .title {
      width: 100%;
    }
    #why .title span {
      display: block;
    }
  }
  /* Large Desktop */
  @media only screen and (min-width: 1200px) {
    #why {
      margin-top: 20em;
      padding-top: 0;
    }
  }
  @media only screen and (min-width: 1500px) {
    #why {
      position: relative;
    }
    #why:before {
      content: '';
      position: absolute;
      display: block;
      height: 58.9em;
      width: 58.6em;
      background: url("../images/faded-squares.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
      top: -27.2em;
      right: -26.75em;
      z-index: -1;
    }
  }
  @media only screen and (min-width: 1800px) {
    #why:before {
      right: -27.25em;
      z-index: -5;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #why {
      background: var(--dark);
    }
    body.dark-mode #why:before {
      background: url("/images/faded-squares-dark.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    body.dark-mode #why picture {
      background: var(--tint);
    }
    body.dark-mode #why h3 {
      color: #fff;
    }
  }
  /*-- -------------------------- -->
  <---         Portfolio          -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #portfolio {
      background: #F8F8F8;
      padding-top: 3.75em;
      padding-bottom: 12.75em;
      position: relative;
      z-index: 5;
    }
    #portfolio .container {
      width: 96%;
      max-width: 66.1em;
      padding: 0;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 1.5em;
      font-size: min(1.3vw, 1em);
    }
    #portfolio .container .row {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1.5em;
    }
    #portfolio .container .row:nth-of-type(1) picture:nth-of-type(1) {
      width: 21em;
      height: 28.35em;
    }
    #portfolio .container .row:nth-of-type(1) picture:nth-of-type(2) {
      width: 21em;
      height: 31.45em;
    }
    #portfolio .container .row:nth-of-type(1) picture:nth-of-type(3) {
      width: 21em;
      height: 25.6em;
    }
    #portfolio .container .row:nth-of-type(2) picture:nth-of-type(1) {
      width: 21em;
      height: 24.6em;
    }
    #portfolio .container .row:nth-of-type(2) picture:nth-of-type(2) {
      width: 21em;
      height: 25.85em;
    }
    #portfolio .container .row:nth-of-type(2) picture:nth-of-type(3) {
      width: 21em;
      height: 31.45em;
    }
    #portfolio .container .row:nth-of-type(3) picture:nth-of-type(1) {
      width: 21em;
      height: 31.25em;
    }
    #portfolio .container .row:nth-of-type(3) picture:nth-of-type(2) {
      width: 21em;
      height: 22.6em;
    }
    #portfolio .container .row:nth-of-type(3) picture:nth-of-type(3) {
      width: 21em;
      height: 31.45em;
    }
    #portfolio .container .row picture {
      position: relative;
      display: block;
    }
    #portfolio .container .row picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  /* Small Desktop */
  @media only screen and (min-width: 64em) {
    #portfolio {
      padding-top: 5.5em;
      padding-bottom: 16.4em;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #portfolio {
      background: #1d1d1d;
    }
  }
  /*-- -------------------------- -->
  <---            Stats           -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #stats {
      width: 90%;
      max-width: 66em;
      margin: auto;
      padding: 2.5em 0;
      margin-top: -7.5em;
      background: #fff;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      border-radius: 0.25em;
      position: relative;
      z-index: 10;
    }
    #stats .stat {
      display: block;
      margin: auto;
      margin-bottom: 2.5em;
      text-align: center;
    }
    #stats .stat:last-of-type {
      margin-bottom: 0;
    }
    #stats .stat .number {
      display: block;
      margin: auto;
      color: var(--accessible);
      font-size: 3.2em;
      line-height: 1.328125;
      font-weight: bold;
    }
    #stats .stat .text {
      color: #1A1A1A;
      line-height: 1.33333333;
      display: block;
      margin: auto;
    }
  }
  /* Landscape */
  @media only screen and (min-width: 547px) {
    #stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    #stats .stat {
      width: 50%;
    }
    #stats .stat:nth-of-type(3) {
      margin-bottom: 0;
    }
  }
  /* Tablet */
  @media only screen and (min-width: 768px) {
    #stats {
      flex-wrap: nowrap;
      padding: 4.45em 8.55em;
      font-size: min(1.4vw, 1em);
    }
    #stats .stat {
      width: auto;
      margin: 0;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #stats {
      background: var(--medium);
    }
    body.dark-mode #stats .stat .text {
      color: #fff;
    }
  }
  /*-- -------------------------- -->
  <---           Reviews          -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #reviews {
      padding-top: 3.75em;
      padding-bottom: 3.75em;
      margin: auto;
      text-align: center;
    }
    #reviews .container {
      width: 96%;
      max-width: 66em;
    }
    #reviews .title {
      margin-bottom: 4.33333333em;
    }
    #reviews .review {
      padding: 3.2em 1.5em 0.9em 1.5em;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      width: 100%;
      max-width: 20.5em;
      margin: auto;
      margin-bottom: 5em;
      border-radius: 0.25em;
      position: relative;
      background: #fff;
      display: flex;
      flex-direction: column;
    }
    #reviews .review:last-of-type {
      margin-bottom: 0;
    }
    #reviews .review .profile {
      display: block;
      height: 4.95em;
      width: 4.95em;
      margin-left: 0;
      border-radius: 50%;
      margin-bottom: 0.8em;
      position: absolute;
      left: 1.5em;
      top: -2.55em;
    }
    #reviews .review p {
      line-height: 1.33333333;
      margin-bottom: 1.55555556em;
      text-align: left;
    }
    #reviews .review .star-group {
      border-top: 1px solid #E7E7E7;
      padding-top: 0.8em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      margin-top: auto;
    }
    #reviews .review .star-group .name {
      color: #1A1A1A;
      font-size: 0.9em;
      line-height: 1.33333333em;
      text-align: left;
      font-weight: bold;
      display: block;
    }
    #reviews .review .star-group .desc {
      color: #575757;
      font-weight: 400;
      display: block;
    }
    #reviews .review .star-group img {
      display: block;
      width: 4.55em;
      height: 0.75em;
      margin: 0;
    }
    #reviews .button-solid {
      margin-top: 4.16666667em;
    }
  }
  /* Tablet */
  @media only screen and (min-width: 48em) {
    #reviews {
      padding-top: 9.6em;
      padding-bottom: 5em;
    }
    #reviews .container {
      font-size: min(1.4vw, 1em);
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
    #reviews .title {
      margin-bottom: 3.52083333em;
    }
    #reviews .review {
      margin: 0;
    }
    #reviews .review p {
      text-align: left;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #reviews .review {
      background: var(--medium);
    }
    body.dark-mode #reviews .review .name {
      color: #fff;
    }
    body.dark-mode #reviews .review .desc {
      color: #fff;
      opacity: .7;
    }
  }
  /*-- -------------------------- -->
  <---            CTA             -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #contact-form {
      padding-top: 2.5em;
      padding-bottom: 2.5em;
      max-width: 27.5em;
      margin: auto;
    }
    #contact-form .image {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  /* Small Desktop */
  @media only screen and (min-width: 64em) {
    #contact-form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 64em;
      gap: 2.5em;
      padding-top: 5em;
      padding-bottom: 5em;
    }
    #contact-form .form {
      flex: none;
      width: 56%;
    }
    #contact-form .image {
      width: 40%;
    }
    body.dark-mode #contact-form .text-center {
      color: #fff !important;
    }
  }
  /* Small Desktop */
  @media only screen and (min-width: 81.25em) {
    #contact-form .form {
      width: 50%;
    }
    #contact-form .image {
      width: 50%;
    }
  }
  /*-- -------------------------- -->
  <---        Get It Done         -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #cta {
      position: relative;
      padding: 3.75em 0;
    }
    #cta:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: .7;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #cta .container {
      text-align: center;
    }
    #cta picture {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -2;
    }
    #cta picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    #cta .title {
      color: #fff;
      margin-bottom: 1.10416667em;
    }
    #cta p {
      color: #fff;
      text-align: center;
      opacity: 1;
      margin: auto;
      margin-bottom: 4.22222222em;
      width: 96%;
      max-width: 33.22222222em;
    }
  }
  /* Small Desktop */
  @media only screen and (min-width: 64em) {
    #cta {
      padding: 8.4em 0;
    }
  }
  /* Large Desktop */
  @media only screen and (min-width: 1300px) {
    #cta:before {
      display: none;
    }
    #cta:after {
      content: '';
      position: absolute;
      display: block;
      height: 55.4em;
      width: 100em;
      background: url("../images/cta-squares.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -3;
    }
    #cta .container {
      width: 90.0625%;
      margin: auto;
    }
    #cta picture {
      width: 90.0625%;
      left: 50%;
      transform: translateX(-50%);
    }
    #cta picture:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: .7;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #cta:after {
      background: url("../images/cta-squares-dark.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  :root {
    --primary: #D90B0B;
    --secondary: #D90B0B;
    --secondaryLight: #f01c1c;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4E4B66;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
  }
  #contact {
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #contact .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.25em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.25rem;
  }
  #contact .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--secondary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #contact .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    /* changes to 522px on desktop */
    max-width: 23.875rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #contact .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    /* 24px - 32px */
    margin-bottom: clamp(1.5rem, 5vw, 2rem);
    color: var(--bodyTextColor);
  }
  #contact .cs-form {
    /* 20px - 48px top and bottom */
    /* 20px - 32px left and right */
    padding: clamp(1.25rem, 4.18vw, 3rem) clamp(1.25rem, 4.18vw, 2rem);
    background-color: #F7F7F7;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    color: var(--headerColor);
    background-color: #fff;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact .cs-input::placeholder {
    color: #7D799C;
    opacity: .6;
  }
  #contact .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact .cs-button-solid {
    font-size: 1rem;
    text-transform: uppercase;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #1a1a1a;
    border: none;
    width: 17.6875rem;
    padding: 0 1.5rem;
    background-color: #f01c1c;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color .3s;
  }
  #contact .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }
  #contact .cs-button-solid:hover {
    color: #fff;
  }
  #contact .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact .cs-map {
    width: 100%;
    max-width: 39.375rem;
    /* 328px - 425px */
    height: clamp(20.5rem, 63.4vw, 26.5625rem);
    border-radius: 1.5rem;
    /* clips the corners of the img tag */
    overflow: hidden;
    position: relative;
    display: block;
  }
  #contact .cs-map img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #contact .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #contact .cs-content {
    max-width: 35.4375rem;
  }
  #contact .cs-title,
  #contact .cs-topper,
  #contact .cs-text {
    text-align: left;
    margin-left: 0;
  }
  #contact .cs-title {
    max-width: 32.625rem;
  }
  #contact .cs-email,
  #contact .cs-phone {
    width: 47%;
  }
  #contact .cs-button-solid {
    margin-left: 0;
  }
  #contact .cs-map {
    height: auto;
    aspect-ratio: 0.89871612;
  }
}
                                