/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    :root {
      --primary: #CC860C;
    }
    #hero-6381 {
      font-family: 'Roboto', 'Arial', sans-serif;
      /* Centers button */
      text-align: left;
      /* 144px - 300px - leaving extra space for the navigation */
      padding: clamp(144px, 25.95vw, 18.75em) 1rem 0;
      /* 130px - 200px */
      padding-bottom: clamp(130px, 12.5vw, 25em);
      position: relative;
      z-index: 1;
    }
    #hero-6381 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }
    #hero-6381 .cs-background:before {
      /* Overlay */
      content: '';
      width: 100%;
      height: 100%;
      background: #000;
      opacity: .7;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
      /* prevents the cursor from interacting with it */
      pointer-events: none;
    }
    #hero-6381 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    #hero-6381 .cs-container {
      width: 100%;
      max-width: 80em;
      margin: auto;
    }
    #hero-6381 .cs-title {
      /* 39px - 61px */
      font-size: clamp(39px, 6.4vw, 3.8125rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: left;
      max-width: 51.8125rem;
      /* 16px - 24px */
      margin: 0 auto clamp(16px, 4vw, 1.5rem) 0;
      color: #fff;
      position: relative;
    }
    #hero-6381 .cs-text {
      /* 16px - 20px */
      font-size: clamp(16px, 1.95vw, 1.25rem);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      /* 464px - 622px */
      max-width: clamp(464px, 60vw, 38.785rem);
      margin: 0 auto 0 0;
      /* 40px - 48px */
      margin-bottom: clamp(40px, 4vw, 3rem);
      color: #fff;
    }
    #hero-6381 .cs-button-solid {
      font-size: 1rem;
      line-height: 3.5rem;
      text-decoration: none;
      font-weight: 700;
      margin: auto;
      color: #fff;
      padding: 0 1.5rem;
      background-color: #f01c1c;
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #hero-6381 .cs-button-solid:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width .3s;
    }
    #hero-6381 .cs-button-solid:hover:before {
      width: 100%;
    }
    /*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
    :root {
      --primary: #D90B0B;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4E4B66;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
    }
    #services {
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
    }
    #services .cs-container {
      width: 100%;
      /* changes to 1280px on tablet */
      max-width: 34.375em;
      margin: auto;
    }
    #services .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 1rem;
      display: block;
    }
    #services .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      max-width: 32.625rem;
      margin: 0 auto 1rem;
      color: var(--headerColor);
      position: relative;
    }
    #services .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      max-width: 32.625rem;
      margin: 0 auto;
      /* 16px - 32px */
      margin-bottom: clamp(1rem, 4.2vw, 2rem);
      color: var(--bodyTextColor);
    }
    #services .cs-card-group {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.875em;
    }
    #services .cs-item {
      list-style: none;
      margin-right: 0.625rem;
      max-width: 25.8125rem;
      /* padding left and right changes on tablet */
      padding: 2.75rem 2rem;
      background-color: #FAFBFC;
      border: 1px solid #DAD9E3;
      border-radius: 0.3125rem;
      position: relative;
    }
    #services .cs-item:before {
      /* top right box */
      content: '';
      width: 45%;
      max-width: 11.25rem;
      height: 50%;
      max-height: 9rem;
      background: var(--primary);
      border-radius: 1rem;
      position: absolute;
      display: block;
      top: -0.625rem;
      right: -0.625rem;
      z-index: -1;
    }
    #services .cs-icon {
      /* 60px - 77px */
      width: clamp(3.75rem, 7.6vw, 4.8125rem);
      height: auto;
      margin-bottom: 2.5rem;
      display: block;
    }
    #services .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 1.5vw, 1.5625rem);
      line-height: 1.2em;
      margin: 0;
      margin-bottom: 1rem;
      color: var(--headerColor);
    }
    #services .cs-item-text {
      font-size: 1rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #services .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      /* 48px - 64px */
      margin-bottom: clamp(3rem, 6.3vw, 4rem);
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: #f01c1c;
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #services .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width .3s;
    }
    #services .cs-button-solid:hover:before {
      width: 100%;
    }
    #services .cs-watermark {
      display: none;
    }
  }
  /* Tablet */
  @media only screen and (min-width: 48em) {
    #services .cs-container {
      max-width: 80rem;
      position: relative;
    }
    #services .cs-title {
      width: 60%;
      margin-left: 0;
    }
    #services .cs-text {
      width: 60%;
      margin-left: 0;
    }
    #services .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
    #services .cs-item {
      width: 33%;
      margin: 0;
      /* makes each card the same height if you add or remove lines of text */
      align-self: stretch;
    }
    #services .cs-watermark {
      width: 30%;
      max-width: 14rem;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
    }
  }
                                /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    :root {
      --primary: #E12213;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4E4B66;
      --bodyTextColorWhite: #FAFBFC;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
    }
    #sbs-4611,
    #sbs-4611-r {
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
    }
    #sbs-4611 .cs-container,
    #sbs-4611-r .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
    }
    #sbs-4611 .cs-left,
    #sbs-4611-r .cs-left {
      width: 95%;
      max-width: 34.375rem;
      margin: 0 auto 3rem;
      position: relative;
      display: block;
      /* width divided by height */
      aspect-ratio: 0.93134328;
      border-radius: 1rem;
    }
    #sbs-4611 .cs-left:before,
    #sbs-4611-r .cs-left:before {
      /* Top right box */
      content: '';
      width: 10rem;
      /* 202px - 248px */
      height: clamp(12.625rem, 25vw, 15.5rem);
      background: #1a1a1a;
      opacity: 1;
      border-radius: 1rem;
      position: absolute;
      display: block;
      /* 16px -20px */
      /* wrapped in a calc funtion to get a negative clamp value */
      top: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
      right: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
    }
    #sbs-4611 .cs-left:after,
    #sbs-4611-r .cs-left:after {
      /* Bottom left box */
      content: '';
      width: 10rem;
      /* 202px - 248px */
      height: clamp(12.625rem, 25vw, 15.5rem);
      background: #1a1a1a;
      opacity: 1;
      border-radius: 1rem;
      position: absolute;
      display: block;
      /* 16px -20px */
      /* wrapped in a calc funtion to get a negative clamp value */
      bottom: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
      left: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
      z-index: -1;
    }
    #sbs-4611 .cs-left img,
    #sbs-4611-r .cs-left img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
    #sbs-4611 .cs-right,
    #sbs-4611-r .cs-right {
      margin: auto;
      max-width: 33.875rem;
    }
    #sbs-4611 .cs-topper,
    #sbs-4611-r .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 1rem;
      display: block;
    }
    #sbs-4611 .cs-title,
    #sbs-4611-r .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      max-width: 50rem;
      margin: 0 auto 1rem;
      color: var(--headerColor);
      position: relative;
    }
    #sbs-4611 .cs-text,
    #sbs-4611-r .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      max-width: 46.875rem;
      margin: 0 auto;
      margin-bottom: 1rem;
      color: var(--bodyTextColor);
    }
    #sbs-4611 .cs-text:last-of-type,
    #sbs-4611-r .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbs-4611 .cs-button-solid,
    #sbs-4611-r .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: #f01c1c;
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #sbs-4611 .cs-button-solid:before,
    #sbs-4611-r .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width .3s;
    }
    #sbs-4611 .cs-button-solid:hover:before,
    #sbs-4611-r .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #sbs-4611 .cs-container,
    #sbs-4611-r .cs-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    #sbs-4611 .cs-left,
    #sbs-4611-r .cs-left {
      /* 328px - 502px */
      width: clamp(20.5rem, 37.5vw, 31.375rem);
      /* 440px - 520px */
      height: clamp(27.5rem, 40vw, 32.5rem);
      margin: 0;
      /* 16px - 20px */
      margin-left: clamp(1rem, 5vw, 1.25rem);
      /* 60px - 128px */
      margin-right: clamp(3.75rem, 9vw, 8rem);
      flex: none;
    }
    #sbs-4611 .cs-right,
    #sbs-4611-r .cs-right {
      max-width: 33rem;
      margin: 0;
      width: 45%;
    }
  }
  
  /*-- -------------------------- -->
  <---   Side By Side Reverse     -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #sbs-4611-r {
      background: #1a1a1a;
    }
    #sbs-4611-r .cs-left:before,
    #sbs-4611-r .cs-left:after {
      background: var(--bodyTextColorWhite);
    }
    #sbs-4611-r .cs-title,
    #sbs-4611-r .cs-text {
      color: var(--bodyTextColorWhite);
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #sbs-4611-r .cs-container {
      justify-content: flex-end;
    }
    #sbs-4611-r .cs-left {
      /* 16px - 20px */
      margin-right: clamp(1rem, 5vw, 1.25rem);
      /* 60px - 128px */
      margin-left: clamp(3.75rem, 9vw, 8rem);
      /* forces it to the left */
      order: 2;
    }
  }
                                /*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    :root {
      --primary: #D90B0B;
      --primaryLight: #e45454;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4E4B66;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
    }
    #why-choose-3678 {
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
      background-color: #FAFBFC;
    }
    #why-choose-3678 .cs-container {
      width: 100%;
      /* changes to 1280px on tablet */
      max-width: 34.375rem;
      margin: auto;
    }
    #why-choose-3678 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 1rem;
      display: block;
    }
    #why-choose-3678 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      margin: 0 auto 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #why-choose-3678 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      margin: 0 auto 0 0;
      /* 32px - 40px */
      margin-bottom: clamp(2rem, 4vw, 2.5rem);
      color: var(--bodyTextColor);
    }
    #why-choose-3678 .cs-card-group {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.25rem;
    }
    #why-choose-3678 .cs-item {
      list-style: none;
      /* 32px - 44px top & bottom, 24px - 32px left & right */
      padding: clamp(2rem, 4vw, 2.75rem) clamp(1.5rem, 4vw, 2rem);
      border-radius: 0.3125rem;
      border: 1px solid #DAD9E3;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      transition: background-color 0.3s;
    }
    #why-choose-3678 .cs-item:hover {
      background-color: var(--primary);
    }
    #why-choose-3678 .cs-item:hover .cs-icon {
      filter: grayscale(1) brightness(1000%);
    }
    #why-choose-3678 .cs-item:hover .cs-h3,
    #why-choose-3678 .cs-item:hover .cs-item-text {
      color: #fff;
    }
    #why-choose-3678 .cs-icon {
      /* 70px - 80px */
      width: clamp(4.375rem, 7vw, 5rem);
      /* 32px - 40px */
      margin-right: clamp(2rem, 3vw, 2.5rem);
      height: auto;
      display: block;
    }
    #why-choose-3678 .cs-h3 {
      font-size: 1.9375rem;
      line-height: 1.2em;
      font-weight: 700;
      width: 55%;
      margin: 0;
      color: var(--headerColor);
      transition: color .3s;
    }
    #why-choose-3678 .cs-item-text {
      font-size: 1rem;
      line-height: 1.5em;
      width: 100%;
      margin: 0;
      margin-top: 2.5rem;
      color: var(--bodyTextColor);
      transition: color .3s;
    }
    #why-choose-3678 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      /* 48px - 64px */
      margin-bottom: clamp(3rem, 6.3vw, 4rem);
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #why-choose-3678 .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width .3s;
    }
    #why-choose-3678 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #why-choose-3678 .cs-container {
      max-width: 80rem;
    }
    #why-choose-3678 .cs-content {
      width: 70%;
      max-width: 39rem;
    }
    #why-choose-3678 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    #why-choose-3678 .cs-item {
      width: 48.5%;
      margin: 0;
    }
  }
  /* Small Desktop - 1300px */
  @media only screen and (min-width: 81.25em) {
    #why-choose-3678 .cs-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #why-choose-3678 .cs-content {
      width: 27.3125rem;
      margin: 0;
      /* prevents flexbox from squishing it */
      flex: none;
    }
    #why-choose-3678 .cs-card-group {
      width: 46.1875rem;
    }
  }
                                /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    :root {
      --primary: #D90B0B;
      --primaryLight: #D90B0B;
      --label: #7D799C;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4E4B66;
      --bodyTextColorWhite: #FAFBFC;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 4.5vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
    }
    #reviews {
      font-family: 'Roboto', 'Arial', sans-serif;
      /* Centers Button */
      text-align: center;
      padding: var(--sectionPadding);
      background-color: #F1F1F4;
    }
    #reviews .cs-container {
      width: 100%;
      max-width: 69rem;
      margin: auto;
    }
    #reviews .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 1rem;
      display: block;
    }
    #reviews .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      max-width: 50rem;
      margin: 0 auto 1rem;
      color: var(--bodyTextColor);
      position: relative;
    }
    #reviews .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: center;
      width: 100%;
      max-width: 46.875rem;
      margin: 0 auto;
      /* 48px - 64px */
      margin-bottom: clamp(3rem, 6.3vw, 4rem);
      color: var(--bodyTextColor);
    }
    #reviews .cs-card-group {
      margin: 0 auto;
      /* 48px - 64px */
      margin-bottom: clamp(3rem, 6.2vw, 4rem);
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* changes to a clamp at tablet */
      gap: 1.5rem;
    }
    #reviews .cs-item {
      list-style: none;
      width: 100%;
      max-width: 22.125rem;
      /* padding left & right 16px - 32px */
      padding: 0 clamp(1rem, 2.1vw, 2rem);
      /* 20px - 40px */
      padding-bottom: clamp(1.25rem, 4.7vw, 2.5rem);
      margin: 0;
      background: #fff;
      box-shadow: -1px 21px 39px 0px rgba(0, 0, 0, 0.05);
      /* prevent padding from adding to the height and width */
      box-sizing: border-box;
    }
    #reviews .cs-img {
      /* 116px - 136px */
      width: clamp(7.25rem, 18vw, 8.5rem);
      /* 20px - 24px */
      height: clamp(1.25rem, 3.2vw, 1.5rem);
      margin: 0 auto 1.5rem;
      display: block;
      transform: translateY(-0.8125rem);
    }
    #reviews .cs-name {
      font-size: 1.25rem;
      line-height: 1.2em;
      text-align: center;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: block;
    }
    #reviews .cs-desc {
      font-size: 1rem;
      line-height: 1.2em;
      text-align: center;
      margin: 0 0 1rem;
      color: var(--label);
      display: block;
    }
    #reviews .cs-card-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.6vw, 1rem);
      line-height: 1.5em;
      margin: auto;
      color: var(--bodyTextColor);
    }
    #reviews .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #reviews .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width .3s;
    }
    #reviews .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #reviews .cs-card-group {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      /* 16px - 20px */
      column-gap: clamp(1rem, 1.5vw, 1.25rem);
      row-gap: 2.875rem;
    }
    #reviews .cs-item {
      width: clamp(31.5%, 30vw, 32.3%);
    }
  }
                    /*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    :root {
      --primary: #D90B0B;
      --label: #7D799C;
      --bodyTextColorWhite: #F7F7F7;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
    }
    #cs-footer-4873 {
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
      background-color: #1a1a1a;
      /* Navigation Links */
    }
    #cs-footer-4873 .cs-container {
      width: 100%;
      /* reset on desktop */
      max-width: 43.75em;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 2.5em;
    }
    #cs-footer-4873 .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
    }
    #cs-footer-4873 .cs-logo {
      width: 11.125rem;
      height: auto;
      display: block;
      margin-bottom: 1.5rem;
    }
    #cs-footer-4873 .cs-logo-img {
      width: 100%;
      height: auto;
    }
    #cs-footer-4873 .cs-logo-img.dark {
      display: none;
    }
    #cs-footer-4873 .cs-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 2.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      width: 78%;
      /* changes to 305px at desktop */
      max-width: 26.25rem;
      color: var(--bodyTextColorWhite);
    }
    #cs-footer-4873 .cs-nav {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.75rem;
    }
    #cs-footer-4873 .cs-nav-li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    #cs-footer-4873 .cs-header {
      font-size: 1rem;
      line-height: 1.2em;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0.75rem;
      color: var(--bodyTextColorWhite);
      position: relative;
      display: block;
    }
    #cs-footer-4873 .cs-nav-link {
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.5em;
      color: var(--bodyTextColorWhite);
      position: relative;
      display: inline-block;
      transition: color .3s;
    }
    #cs-footer-4873 .cs-nav-link:before {
      /* underline */
      content: '';
      width: 0%;
      height: 0.125rem;
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -0.125rem;
      left: 0;
      transition: width .3s;
    }
    #cs-footer-4873 .cs-nav-link:hover {
      color: var(--primary);
    }
    #cs-footer-4873 .cs-nav-link:hover:before {
      width: 100%;
    }
    #cs-footer-4873 .cs-icon {
      width: 1.5rem;
      height: auto;
      margin-right: 0.75rem;
    }
    #cs-footer-4873 .cs-bottom {
      max-width: 80rem;
      margin: auto;
      margin-top: 2rem;
      padding-top: 1.5rem;
      border-top: 1px solid #484848;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #cs-footer-4873 .cs-copyright,
    #cs-footer-4873 .cs-copyright-link {
      font-size: 1rem;
      line-height: 1.5em;
      color: var(--bodyTextColorWhite);
    }
    #cs-footer-4873 .cs-copyright-link {
      text-decoration: none;
      transition: color .3s;
    }
    #cs-footer-4873 .cs-copyright-link:hover {
      color: var(--primary);
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #cs-footer-4873 .cs-container {
      row-gap: 0;
      flex-direction: row;
      justify-content: space-between;
      row-gap: 2.5rem;
    }
    #cs-footer-4873 .cs-nav {
      width: auto;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #cs-footer-4873 .cs-container {
      max-width: 80rem;
      flex-wrap: nowrap;
      /* align everything to the right */
      justify-content: flex-end;
      column-gap: 5.25rem;
    }
    #cs-footer-4873 .cs-logo-group {
      width: 30%;
      max-width: 24.1875em;
      /* pushes away from everything to the right */
      margin-right: auto;
    }
    #cs-footer-4873 .cs-text {
      width: 100%;
    }
  }
  a:hover {
    cursor: pointer;
  }
  p {
    font-size: 0.9em;
    margin-bottom: 1em;
    color: #000;
  }
  p,
  li {
    line-height: 1.49em;
  }
  p,
  a,
  li {
    color: #292929;
    margin: 0;
    line-height: 1.4em;
    font-weight: normal;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    line-height: 1.2em;
    color: #292929;
    margin-bottom: 1.5em;
  }
  .container {
    padding: 0 0.5em;
    margin: auto;
  }
  /* hidden desktop elements */
  .topper-flex,
  #brand,
  .call-strip-button,
  .background {
    display: none;
  }
  button {
    text-transform: uppercase;
  }
  .button-solid {
    color: #1a1a1a;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    background: #f01c1c;
    padding: 0 0.88888889em;
    line-height: 2.72222222;
    min-width: 9em;
    font-size: 0.9em;
    font-family: "Lato", sans-serif;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-weight: bold;
    perspective: 750px;
  }
  .button-solid:before {
    content: '';
    position: absolute;
    display: block;
    top: -0.38888889em;
    bottom: -0.38888889em;
    left: -0.38888889em;
    right: -0.38888889em;
    border: 0.05555556em solid var(--primary);
    opacity: 0;
    pointer-events: none;
    transform: rotateX(90deg);
    transition: transform .3s, opacity .3s;
    transform-style: preserve-3d;
  }
  .button-solid:hover:before {
    transform: rotateX(0deg);
    opacity: 1;
  }
  button:hover {
    cursor: pointer;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
  }
  .button-transparent {
    display: inline-block;
    background: transparent;
    border: 0.05555556em solid #ffffff;
    border-radius: 0.16666667em;
    text-align: center;
    font-size: 0.9em;
    margin: 0.55555556em 0;
    padding: 0px 30px;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    white-space: nowrap;
    line-height: 2.77777778;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }
  .button-transparent:hover {
    color: #fff;
    background: var(--primary);
    border: none;
  }
  .hamburger {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 2000;
  }
  .hamburger:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .hamburger.is-active:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }
  .hamburger-box {
    width: 1.5em;
    height: 1.2em;
    display: inline-block;
    position: relative;
    z-index: 2000;
  }
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -0.1em;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 1.5em;
    height: 0.1em;
    background-color: #000;
    border-radius: 0.2em;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -0.5em;
  }
  .hamburger-inner::after {
    bottom: -0.5em;
    width: 1em;
  }
  /* * Spring */
  .hamburger--spring .hamburger-inner {
    top: 0.1em;
    -webkit-transition: background-color 0s 0.13s linear;
    -o-transition: background-color 0s 0.13s linear;
    transition: background-color 0s 0.13s linear;
    -webkit-transition-delay: .22s;
    -o-transition-delay: .22s;
    transition-delay: .22s;
  }
  .hamburger--spring .hamburger-inner::before {
    top: 0.5em;
    -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-delay: .22s;
    -o-transition-delay: .22s;
    transition-delay: .22s;
  }
  .hamburger--spring .hamburger-inner::after {
    top: 1em;
    -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-delay: .22s;
    -o-transition-delay: .22s;
    transition-delay: .22s;
  }
  .hamburger--spring.is-active .hamburger-inner {
    -webkit-transition-delay: 0.22s;
    -o-transition-delay: 0.22s;
    transition-delay: 0.22s;
    background-color: transparent !important;
    background: #000;
  }
  .hamburger--spring.is-active .hamburger-inner::before {
    background: #000;
    top: 0;
    -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }
  .hamburger--spring.is-active .hamburger-inner::after {
    background: #000;
    width: 1.5em;
    top: 0;
    -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
  }
  /*-- -------------------------- -->
	<---         NAVIGATION         -->
	<--- -------------------------- -*/
  /* Hidden Elements */
  .side-nav .nav-logo,
  .call-us,
  .quote-nav-button {
    display: none;
  }
  .main-skip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }
  .nav-comb {
    display: block !important;
    position: absolute;
    width: 26.5em;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    right: -14em;
    top: 17.5em;
    opacity: .4;
  }
  /* Top Mobile Navigation */
  .mobile-wrapper {
    height: 5em;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    position: relative;
    z-index: 1000;
    background: #777;
  }
  .mobile-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    z-index: 100;
    background: #fff;
  }
  .hamburger {
    position: absolute;
    right: 0.75em;
    top: 1.8em;
  }
  /* Navigation Links */
  .mobile-wrapper img {
    height: 2.4em;
    width: auto;
    margin-top: 0.25em;
  }
  .navbar-menu {
    background: #f5f5f5;
    width: 0;
    position: absolute;
    right: 0;
    height: 100%;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 1000;
    max-width: 62.5em;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .side-nav {
    pointer-events: none;
    position: relative;
    padding: 2em 0;
    position: absolute;
    right: 2em;
    visibility: hidden;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
  }
  .side-nav ul {
    margin: 0;
    text-align: right;
    list-style: none;
    margin-top: 4em;
    transform: translateX(0em);
  }
  .side-nav ul li {
    margin-bottom: 1em;
  }
  .side-nav a {
    text-decoration: none;
    padding: 0.25em 0.5em 0.25em 0.5em;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    opacity: 0;
    visibility: hidden;
    font-family: 'Lato', sans-serif;
  }
  #active-menu {
    border-right: 0.2em solid var(--primary);
    color: var(--primary);
  }
}
/* Ipad Pro */
@media screen and (min-width: 450px) and (max-width: 991px) {
  .container {
    max-width: 45em;
  }
  .mobile-nav {
    width: 100% !important;
    max-width: 100% !important;
  }
}
/* Tablets */
@media screen and (min-width: 750px) and (max-width: 1023px) {
  .mobile-nav {
    max-width: 100%;
  }
  p {
    font-size: 1em;
  }
}
/* Small Desktop */
@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #000;
  }
  ::-webkit-scrollbar {
    width: 0.6em;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.5em;
    background: var(--primary);
  }
  .mobile-nav {
    max-width: 100%;
  }
  section {
    padding: 5em 0.5em;
  }
  p {
    font-size: 1em;
  }
  /* Hidden Elements */
  .mobile-wrapper,
  .nav-comb {
    display: none !important;
  }
  /* Un-Hidden Elements */
  .side-nav a {
    opacity: 1;
    visibility: visible;
  }
  .quote-nav-button {
    display: block;
  }
  .container {
    max-width: 55em;
  }
  /*navbar */
  nav {
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 5em;
  }
  .navbar-menu {
    width: 96%;
    height: 5em;
    margin: auto;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10000;
    left: 0;
    background: transparent;
    overflow: visible;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 70em;
    font-size: min(1.4vw, 1em);
  }
  .navbar-menu .nav-logo {
    margin: 0 !important;
    position: absolute;
    left: 0px;
    height: 2.95em;
    width: 11.1em;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
  }
  .navbar-menu .nav-logo:before {
    display: none;
  }
  .navbar-menu .nav-logo img {
    width: 100%;
    height: auto;
  }
  .navbar-menu .nav-logo img.light {
    display: block;
  }
  body {
    position: relative;
    font-size: 20px;
  }
  body:before {
    content: '';
    top: 0;
    width: 100%;
    height: 5em;
    background: #fff;
    position: fixed;
    z-index: 1000;
    left: 0;
    font-size: min(1.4vw, 1em);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  #on-top {
    margin-right: 2.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .side-nav {
    padding: 0;
    width: 100%;
    max-width: 72.5em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    right: 0;
    background: transparent;
    border-radius: 5px;
    pointer-events: initial;
  }
  .side-nav .nav-logo {
    display: block;
  }
  .side-nav ul {
    margin-top: 0;
    transform: translateX(0);
  }
  .side-nav ul li {
    margin: 0 0 0 1.66666667em;
    text-align: right;
    color: #fff;
    font-size: 1em;
  }
  .side-nav ul li:hover a.link:before {
    width: 100%;
    opacity: 1;
    transform: translateY(-50%) scaleX(1);
  }
  .side-nav a {
    padding: 0.5em 0;
    color: #666666;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    font-size: 1em;
    text-transform: capitalize;
    position: relative;
    font-weight: 400;
  }
  .side-nav a:before {
    cursor: pointer;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    content: '';
    background: var(--primary);
    height: 0.15em;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0em;
    z-index: -1;
    opacity: 1;
    transition: width .3s;
  }
  .side-nav a.button-solid {
    color: #1a1a1a;
    line-height: 2.45em;
    height: 2.45em;
    padding: 0 0.8em;
    font-weight: bold;
  }
  .side-nav a.button-solid:before {
    display: none;
  }
  .side-nav a.button-solid:after {
    content: '';
    position: absolute;
    display: block;
    height: auto;
    width: auto;
    top: -0.38888889em;
    bottom: -0.38888889em;
    left: -0.38888889em;
    right: -0.38888889em;
    border: 0.05555556em solid var(--primary);
    opacity: 0;
    pointer-events: none;
    transform: rotateX(90deg);
    transition: transform .3s, opacity .3s;
    transform-style: preserve-3d;
  }
  .side-nav a.button-solid:hover:after {
    transform: rotateX(0deg);
    opacity: 1;
  }
  .side-nav a#active-menu {
    position: relative;
    border: none;
    color: #000;
  }
  .side-nav a#active-menu:before {
    cursor: pointer;
    width: 100%;
  }
}
/* Regular Desktop */
@media screen and (min-width: 1300px) {
  .side-nav .schedule a {
    display: block;
  }
  .navbar-menu {
    font-size: inherit;
    max-width: 77.5em;
  }
  .navbar-menu .side-nav {
    font-size: min(1.4vw, 1em);
    max-width: 100%;
  }
  body:before {
    font-size: inherit;
  }
  .side-nav ul li {
    margin-right: 0.5em;
  }
  .side-nav ul li:last-of-type {
    margin-right: 0;
  }
}
@media screen and (min-width: 1500px) {
  .side-nav ul li {
    margin-right: 2em;
  }
  .side-nav ul li:last-of-type {
    margin-right: 0;
  }
}
@media only screen and (min-width: 2000px) {
  body {
    font-size: 1vw;
  }
/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    min-height: 50vh;
    background: url("/images/int-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #int-hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .5;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #int-hero h1 {
    color: #fff;
    font-size: 3.2em;
    text-align: center;
    margin: 0;
    position: relative;
  }
  #int-hero h1:before {
    content: '';
    position: absolute;
    display: block;
    height: 0.09375em;
    width: 1.515625em;
    background: #EEBE76;
    opacity: 1;
    bottom: -0.390625em;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 20px;
    background: url("/images/int.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-position: center 50%;
  }
}
/* Small Desktop */
@media only screen and (min-width: 1300px) {
  #int-hero {
    min-height: 15em;
    height: 15em;
    margin-top: 2.5em;
    background-position: center 100%;
    background-attachment: fixed;
    font-size: inherit;
  }
}
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  :root {
    --primary: #042925;
    --secondary: #A36814;
    --secondaryLight: #EDB86F;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4E4B66;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
  }
  #contact-6131 {
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #contact-6131 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.25em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.25rem;
  }
  #contact-6131 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--secondary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #contact-6131 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    /* changes to 522px on desktop */
    max-width: 23.875rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #contact-6131 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    /* 24px - 32px */
    margin-bottom: clamp(1.5rem, 5vw, 2rem);
    color: var(--bodyTextColor);
  }
  #contact-6131 .cs-form {
    /* 20px - 48px top and bottom */
    /* 20px - 32px left and right */
    padding: clamp(1.25rem, 4.18vw, 3rem) clamp(1.25rem, 4.18vw, 2rem);
    background-color: #F7F7F7;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-6131 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-6131 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    color: var(--headerColor);
    background-color: #fff;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-6131 .cs-input::placeholder {
    color: #7D799C;
    opacity: .6;
  }
  #contact-6131 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-6131 .cs-button-solid {
    font-size: 1rem;
    text-transform: uppercase;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #1a1a1a;
    border: none;
    width: 17.6875rem;
    padding: 0 1.5rem;
    background-color: #f01c1c;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color .3s;
  }
  #contact-6131 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }
  #contact-6131 .cs-button-solid:hover {
    color: #fff;
  }
  #contact-6131 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-6131 .cs-map {
    width: 100%;
    max-width: 39.375rem;
    /* 328px - 425px */
    height: clamp(20.5rem, 63.4vw, 26.5625rem);
    border-radius: 1.5rem;
    /* clips the corners of the img tag */
    overflow: hidden;
    position: relative;
    display: block;
  }
  #contact-6131 .cs-map img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #contact-6131 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #contact-6131 .cs-content {
    max-width: 35.4375rem;
  }
  #contact-6131 .cs-title,
  #contact-6131 .cs-topper,
  #contact-6131 .cs-text {
    text-align: left;
    margin-left: 0;
  }
  #contact-6131 .cs-title {
    max-width: 32.625rem;
  }
  #contact-6131 .cs-email,
  #contact-6131 .cs-phone {
    width: 47%;
  }
  #contact-6131 .cs-button-solid {
    margin-left: 0;
  }
  #contact-6131 .cs-map {
    height: auto;
    aspect-ratio: 0.89871612;
  }
}
                                
/* Small Desktop */
@media only screen and (min-width: 1300px) {
  #int-hero {
    margin-top: 5em;
  }
}

}